
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(24, 6, 67);
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 51.1px;
  }
  /* .sidebar{
      margin-top: 0px;
  } */
  .sidenav a {
    padding: 15px 7px;
    text-decoration: none;
    font-size: 16x;
    color: #ca4242;
    display: block;
    border-top: 1px solid;
    border-bottom: 1px solid ;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    z-index: 1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }