<div class="container-fluid nameplate">
  <div class="row">
          <img src="../../assets/images/nameplate.png" alt="SGGS T&P" class="img-fluid">
     </div>
 </div>
  

    <!-- carousel start  -->
    <div class="container my-5">
     <!-- <div class="row" style="margin-left:20px;"> -->
       <h2 style="font-weight:bold; margin-left:480px;font-size: 25px;">Our Recruiters</h2>
     <!-- </div> -->
  <div class="row my-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
  <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      
      
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/Recruiters1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/Recruiters2.jpg" class="d-block w-100" alt="...">
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="col-md-2"></div>
</div>
<div class="row">
  <h2 style="font-weight:bold; margin-left:480px;font-size: 25px;">Our Records</h2>
<!-- <center><hr style="width:75%;"></center> -->
</div>
<div class="row my-3">
<div class="col-md-2"></div>
<div class="col-md-8">
<div id="carouselExampleIndicators1" class="carousel carousel-dark slide" data-bs-ride="carousel">
<div class="carousel-indicators">
  <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
  
</div>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="../../assets/images/carousel1.jpg" class="d-block w-100" alt="...">
  </div>
  <div class="carousel-item">
    <img src="../../assets/images/carousel2.jpg" class="d-block w-100" alt="...">
  </div>
  <div class="carousel-item">
    <img src="../../assets/images/carousel3.jpg" class="d-block w-100" alt="...">
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
</div>
<div class="col-md-2"></div>
</div>
    </div>


<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- Footer-reminas -->

  <div class="container-fluid" style="background-color: rgba(134, 129, 129, 0.2);">
    <footer class="text-center text-white" >
      <div class="container pt-4">
        <div class="wrapper">
          <div class="button">
            <a href="https://www.facebook.com/Training-Placement-Cell-SGGS-Nanded-110045764789964/?ref=pages_you_manage" target="_blank">
            <div class="icon"><i class="fab fa-facebook-f"></i></div>
            <span>Facebook</span></a>
          </div>
          <div class="button">
              <a href="https://twitter.com/tnpcell_sggsiet" target="_blank">
              <div class="icon"><i class="fab fa-twitter"></i></div>
              <span>Twitter</span></a>
          </div>
          <div class="button">
            <a href="https://www.instagram.com/tnpcell_sggsnanded/" target="_blank">
            <div class="icon"><i class="fab fa-instagram"></i></div>
            <span>Instagram</span></a>
          </div>
          <div class="button">
            <a href="https://www.linkedin.com/in/sggs-tnpcell/" target="_blank">
            <div class="icon"><i class="fa-brands fa-linkedin"></i></div>
            <span>Linkedin</span></a>
          </div>
          <div class="button">
            <a href="https://www.youtube.com/channel/UCxK3BwLWib2jd8y80CbD4DA" target="_blank">
            <div class="icon"><i class="fab fa-youtube"></i></div>
            <span>Youtube</span></a>
        </div>
      </div>
      </div>
      <div class="text-center text-dark p-3">
      </div>
    </footer>
  </div>
   
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
